### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml

# Docs build output
docs/_build/

# Generated proposal exports
formal_docs/proposal/*.pdf

# Generated reference exports
docs/reference/digital_signal_processing/*.pdf
docs/reference/yolo_architecture/*.pdf
docs/reference/embedded_system/esp_idf/*.pdf
docs/reference/embedded_system/communication_protocol/i2c_protocol/*.pdf
docs/reference/embedded_system/free_rtos/*.pdf
docs/reference/communication_system/*.pdf